body{
	background-color: #e7f5fe;
	font-family: Garamond, sans-serif;
	margin: auto;
	padding: auto;
	max-width: 800px;

}

img {
	width:100%;
	align-content: auto;
}

.caption{
	font-size: 14px;
	margin: 5px 0px;
	line-height: 14px;
	font-style: italic;
	color: darkgrey;
}


h1{
	font-style: italic;
	font-size: 40px;
}

h2{
	font-style: normal;
	font-sizr: 24px;
}